<mat-toolbar color="primary">
  <span>Adder</span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <span>Random</span>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="getRandom()">Get random</button>
    <br>
    <textarea matInput disabled>{{random}}</textarea>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <span>Base</span>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="number" #setbase>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="setBase(setbase.valueAsNumber)">Set base</button>
    <textarea matInput disabled>{{current}}</textarea>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <span>Add</span>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="number" #addinput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="add(addinput.valueAsNumber)">Add</button>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <span>Accumulate</span>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="number" #accuInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="accumulate(accuInput.valueAsNumber)">Accumulate</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <span>Result</span>
  </mat-card-header>
  <mat-card-content>
    <textarea matInput disabled>{{num}}</textarea>
  </mat-card-content>
</mat-card>
