<mat-toolbar color="primary">
  <span>Adder</span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <span>Random</span>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button color="primary" id="random-button" (click)="getRandom()">Get random</button>
    <br>
    <textarea matInput disabled id="random">{{random}}</textarea>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <span>Base</span>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="number" #setbase id="setbase-input">
    </mat-form-field>
    <button mat-raised-button color="primary" id="setbase-button" (click)="setBase(setbase.valueAsNumber)">Set base</button>
    <textarea matInput disabled #current id="current">{{current}}</textarea>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <span>Add</span>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="number" #addinput id="add-input">
    </mat-form-field>
    <button mat-raised-button color="primary" id="add-button" (click)="add(addinput.valueAsNumber)">Add</button>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <span>Accumulate</span>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="number" #accuInput id="accu-input">
    </mat-form-field>
    <button mat-raised-button color="primary" id="accu-button" (click)="accumulate(accuInput.valueAsNumber)">Accumulate</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <span>Result</span>
  </mat-card-header>
  <mat-card-content>
    <textarea matInput disabled id="result">{{num}}</textarea>
  </mat-card-content>
</mat-card>
